* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 72px;

    color: #2C1B07;
}

.qtd {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    width: 60px;
    background-color: #D9D9D9;
    font-size: 16px;
    border: 1px solid #CDC5C5;
}

.qtd button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    width: 20%;
    height: 100%;
    cursor: pointer;
}

.qtd span {
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid #CDC5C5;
    border-right: 1px solid #CDC5C5;
    height: 100%;
    width: 100%;
}

table {
    text-align: left;
    margin: 0 auto;
    width: 70%;
}

td,
th,
tr {
    border-bottom: 1px solid;
}

thead {
    text-align: left;
}

th {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 43px;
    text-align: left;

    color: #000000;
}

td p {
    color: blue;
    text-decoration: underline;
    margin-top: 20px;
    cursor: pointer;
}

.imagem {
    display: flex;
    align-items: center;
    gap: 10px;

}

.imagem img {
    width: 235px;
    height: 235px;
}

.imagem h4 {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 36px;
    text-align: center;

    color: #000000;
}

.valor {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    /* identical to box height */

    text-align: left;

    color: #000000;
}

.area-valor {

    margin: 0 auto;

    width: 733px;
    height: 410px;

    background: #B7CFE6;
    border-radius: 11px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.area-valor label {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 43px;
    color: #000000;
}

.area-valor label input {
    text-align: center;
}

.area-valor span {
    margin-left: 300px;
}

.buttons {
    margin: 30px auto;
    width: auto;
    text-align: center;
}

#adicionarProdutos {

    width: 330px;
    height: 69px;

    background: #3F749A;
    border-radius: 11px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 43px;
    text-align: center;

    color: #FFFFFF;
    margin-right: 50px;
    cursor: pointer;
}

#finalizarCompra {
    width: 264px;
    height: 69px;

    background: #EDB106;
    border-radius: 11px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 43px;
    text-align: center;

    color: #FFFFFF;
    cursor: pointer;
}

.hide {
    display: none;
}

.dados {
    width: 700px;
    height: 404px;

    background: rgb(107, 170, 215);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px 10px;
}

#nome {
    width: 49%;
    display: inline-block;
    margin-bottom: 10px;
}

#telefone {
    width: 49%;
    display: inline-block;
    margin-bottom: 10px;
}

.dados p {
    font-size: 20px;
    color: #000000;
}

.dados input {
    width: 100%;
    height: 30px;
    border-radius: 6px;
    padding: 10px 20px;
    font-size: 20px;
}

#endereco {
    width: 49%;
    display: inline-block;
    margin-bottom: 10px;
}

#numeroCasa {
    width: 19%;
    display: inline-block;
    margin-bottom: 10px;
}

#complemento {
    width: 29%;
    display: inline-block;
    margin-bottom: 10px;
}

#bairro {
    width: 19%;
    display: inline-block;
    margin-right: 1%;
    margin-bottom: 10px;
}

#cidade {
    width: 29%;
    display: inline-block;
    margin-right: 1%;
    margin-bottom: 10px;
}

#estado {
    width: 9%;
    display: inline-block;
    margin-right: 1%;
    margin-bottom: 10px;
}

#cep {
    width: 29%;
    display: inline-block;
    margin-bottom: 10px;
}

#email {
    width: 50%;
    display: inline-block;
    margin-bottom: 10px;
}

#formaPagamento {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 50%;
    margin: 0 auto 30px;
}

#formaPagamento select {
    width: 30%;
    text-align: center;
}

#cadastroDados {
    display: block;
    margin: auto;
    width: 50%;
    height: 40px;
    background: #3F749A;
    border-radius: 11px;

    font-weight: normal;
    font-size: 20px;
    line-height: 43px;
    text-align: center;

    color: #FFFFFF;
    cursor: pointer;

}

.cadastroCartao {
    width: 876px;
    height: 621px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #FFF;
    border-radius: 10px;

}

.cadastroCartao .title {
    font-weight: normal;
    font-size: 30px;

    color: #000000;
    text-align: center;
    border-bottom: 1px solid;
    padding: 10px;
    background-color: #B7CFE6;
    border-radius: 10px 10px 0 0;
}

.cadastroCartao form p {
    font-family: 'Jost';
    font-style: normal;
    font-size: 20px;
    line-height: 29px;

    color: #14426E;
}

.cadastroCartao form {
    /* width: 100%; */
    text-align: center;
    margin: 50px 30px 0;
}

.cadastroCartao form label {
    display: inline-block;
    margin-top: 30px;
}

.cadastroCartao form #tipoCartao {
    width: 39%;
    padding: 20px;
    display: inline-block;
    border: 3px solid #14426E;
    border-radius: 10px;
    font-size: 25px;
    margin: auto;
    color: #000000;
}

#numeroDoCartao {
    width: 100%;
    text-align: left;
}

#numeroDoCartao input {
    width: 80%;
    height: 40px;
    border: 1px solid #14426E;
    border-radius: 5px;
    outline: none;
    padding: 20px;
}

#cvv {
    width: 49%;
    text-align: left;
}

#cvv input {
    width: 30%;
    height: 40px;
    border: 1px solid #14426E;
    border-radius: 5px;
    outline: none;
    padding: 20px;
}

#validade {
    width: 49%;
    width: 49%;
    text-align: left;
}

#validade input {
    width: 50%;
    height: 40px;
    border: 1px solid #14426E;
    border-radius: 5px;
    outline: none;
    padding: 20px;
}

#apelido {
    display: block;
    width: 100%;
    text-align: left;
}

#apelido input {
    width: 100%;
    height: 40px;
    border: 1px solid #14426E;
    border-radius: 5px;
    outline: none;
    padding: 20px;
}

#adicionarCartao {
    display: block;
    margin: 50px auto 0;
    width: 50%;
    height: 50px;

    background: #3F749A;
    border-radius: 11px;

    font-size: 20px;
    text-align: center;

    color: #FFFFFF;
    cursor: pointer;

}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 62px;

    background: #14426E;
    color: #C48007;
    margin-top: 20px;
}