#modo-dark {
    width: 81px;
    height: 32px;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: all .3s;
}

.modo-dark {
    background-color: #1C1C1C;
}

.modo-light {
    background-color: var(--amarelo-background-font);
}

.light {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    transform: translate(3px, 1px);
    transition: all .4s;
    background-color: white;
}

.light i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2em;
    color: var(--amarelo-background-font);
}

.dark {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    background-color: var(--amarelo-background-font);
    transform: translate(48px, 1px) rotate(180deg);
    transition: all .4s;
}

.dark i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2em;
    color: #000000;
}

.bodyDark * {
    transition: all .3s;
}

.bodyDark #iconLogin {
    color: #1C1C1C;
}

.bodyDark .header-top {
    background-color: #14426E;
}

.bodyDark .nav {
    background-color: #14426E;
}

.bodyDark {
    background-color: #1E1E1E;
}

.bodyDark h1 {
    color: #fff;
}

.bodyDark .anuncio h4 {
    color: rgba(237, 177, 6, 0.8);
    text-shadow: 0px 4px 4px rgba(255, 255, 255, 0.45);
}

.bodyDark .anuncio p {
    color: #FFFFFF;
}

.bodyDark .info-anuncio2  .qtd button, .bodyDark .info-anuncio2  .qtd span{
    color: #000000;
}

.bodyDark .item-cesta {
    background: #D87500;
}