@media screen and (max-width: 600px) {

    main {
        padding: 0;
    }

    .container {
        /* border: 1px solid; */
        width: 100%;
    }

    .content-header {
        position: relative;
        width: 150px;
        justify-content: end;
        height: 100%;
    }

    .logo-img {
        margin: 0 auto;
    }

    .acessibilidade img {
        display: none;
    }

    .acessibilidade-visual {
        width: 71px;
        height: 22px;
        position: absolute;
        left: 20px;
        top: 1px;
    }

    #modo-dark {
        width: 71px;
        height: 22px;
        position: absolute;
        left: 20px;
        bottom: 1px;
    }

    #modo-dark #darkLight {
        width: 20px;
        height: 20px;
    }

    #modo-dark i {
        font-size: 16px;
    }

    .nav {
        display: none;
    }

    main h1 {
        text-align: center;
        width: 100%;
    }

    .promocao {
        max-width: 382px;
        height: 231px;
        display: flex;
        overflow-y: hidden;
        background-color: rgba(107, 170, 215, .5);
        border-radius: 4px;
        align-items: normal;
        justify-content: normal;

        margin: 0 auto;
        gap: 0;
    }

    .promocao::-webkit-scrollbar {
        width: 0;
    }

    .item-promocao {
        width: 154px;
        height: 161px;
        margin: 0 40px 0 0;
        gap: 0;
        padding: 0;
    }

    .item-promocao img {
        height: 87px;
    }

    .item-promocao .nomeProduto {
        font-size: 10px;
        width: 100%;
    }

    .item-promocao .infoPromocao {
        width: 100%;
        padding: 0;
        display: flex;
        gap: 3px;
    }

    .item-promocao .infoPromocao p {
        font-size: 6px;
        width: 154px;
        text-align: center;
    }


    .item-promocao .valorAntigo {
        display: block;
        font-size: 11px;
    }

    .item-promocao .valorAtual {
        display: block;
        font-size: 11px;
    }

    .item-promocao .spanButton {
        bottom: 0;
        right: 10px;
    }

    .item-promocao i {
        font-size: 14px;
        bottom: 0;
    }

    /* Area Anuncio */

    .anuncio {
        width: 100vw;
        height: auto;
        margin: 50px auto 0;
    }

    .img-anuncio {
        margin: 0 auto;
        text-align: center;
        display: block;
    }

    .img-anuncio img {
        width: 350px;
        height: 270px;
        border-radius: 8px;
        margin: 0 auto;
    }

    .item-anuncio {
        margin: 0;
        display: block;
    }

    .item-anuncio .title-anuncio {
        font-size: 13px;
    }

    .item-anuncio .descricao-anuncio {
        font-size: 11px;
        width: 206px;
        line-height: normal;
    }

    .info-anuncio {
        gap: 10px;
    }

    .info-anuncio2 {
        gap: 5px;
    }

    .info-anuncio2 p {
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        text-align: center;
        color: #000000;
        line-height: normal;
    }

    .info-anuncio2 .qtd {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 27px;
        width: 76px;
        background-color: #D9D9D9;
        font-size: 27px;
        border: 1px solid #CDC5C5;
    }

    .info-anuncio2 .qtd span {
        font-size: 14px;
    }

    .info-anuncio2 .qtd button {
        font-size: 10px;
    }

    .info-anuncio2 #btn-anuncio-compra {
        width: 90px;
        height: 29px;
        border-radius: 20px;
        background-color: #2C1B07;
        color: white;
        font-size: 20px;
        cursor: pointer;
    }

    .info-anuncio2 i {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 52px;
        height: 29px;
        border-radius: 20px;
        background-color: #2C1B07;
        color: white;
        font-size: 20px;
        cursor: pointer;
    }

    .cesta {
        width: 100vw;
        border: 1px solid;
        margin: 0;
        justify-content: center;
    }
    
    .item-cesta {
        width: 100%;
        margin: 0;
    }

}

/* @media screen and (max-width: 1628px) {

    .cesta {

        justify-content: center;
    }

    .item-cesta {
        width: 591px;
    }

    .tropical,
    .tropical2,
    .box,
    .buques {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 50px;
        background-color: rgba(107, 170, 215, .5);
        border-radius: 4px;
        position: relative;
    }

    .anuncio {
        margin-top: 103px;
        margin-left: 45px;
        height: 344px;
    }

    .img-anuncio {
        width: 611px;
        margin: auto;
    }

    .img-anuncio img {
        width: 100%;
    }

    .info-anuncio2 {
        display: flex;
        align-items: center;
    }

} */