@media screen and (max-width: 600px) {

    .container {
        /* border: 1px solid; */
    }

    .content-header {
        position: relative;
        width: 150px;
        justify-content: end;
        height: 100%;
    }

    .logo-img {
        margin: 0 auto;
    }

    .acessibilidade img {
        display: none;
    }

    .acessibilidade-visual {
        width: 71px;
        height: 22px;
        position: absolute;
        left: 20px;
        top: 1px;
    }

    #modo-dark {
        width: 71px;
        height: 22px;
        position: absolute;
        left: 20px;
        bottom: 1px;
    }

    #modo-dark #darkLight {
        width: 20px;
        height: 20px;
    }

    #modo-dark i {
        font-size: 16px;
    }

    .nav {
        display: none;
    }

    main h1 {
        text-align: center;
        width: 100%;
    }

    .promocao {
        max-width: 382px;
        height: 231px;
        display: flex;
        overflow-y: hidden;
        background-color: rgba(107, 170, 215, .5);
        border-radius: 4px;
        align-items: normal;
        justify-content: normal;

        margin: 0 auto;
        gap: 0;
    }

    .promocao::-webkit-scrollbar {
        width: 0;
    }

    .item-promocao {
        width: 154px;
        height: 161px;
        margin: 0 40px 0 0;
        gap: 0;
        padding: 0;
    }

    .item-promocao img {
        height: 87px;
    }

    .item-promocao .nomeProduto {
        font-size: 10px;
        width: 100%;
    }
    
    .item-promocao .infoPromocao {
        width: 100%;
        padding: 0;
        display: flex;
        gap: 3px;
    }

    .item-promocao .infoPromocao p {
        font-size: 6px;
        width: 154px;
        text-align: center;
    }


    .item-promocao .valorAntigo {
        display: block;
        font-size: 11px;
    }

    .item-promocao .valorAtual {
        display: block;
        font-size: 11px;
    }

    .item-promocao .spanButton {
        bottom: 0;
        right: 10px;
    }

    .item-promocao i {
        font-size: 14px;
        bottom: 0;
    }

}

@media screen and (max-width: 1628px) {

    .cesta {

        justify-content: center;
    }

    .item-cesta {
        width: 591px;
    }

    .tropical,
    .tropical2,
    .box,
    .buques {
        /* margin: 0 45px; */
        /* padding: 26px; */
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 50px;
        background-color: rgba(107, 170, 215, .5);
        border-radius: 4px;
        position: relative;
    }

    .anuncio {
        margin-top: 103px;
        margin-left: 45px;
        height: 344px;
    }

    .img-anuncio {
        width: 611px;
        margin: auto;
    }

    .img-anuncio img {
        width: 100%;
    }

    .info-anuncio2 {
        display: flex;
        align-items: center;
        gap: 30px;
    }

}