:root {
    --azul-background1: #6baad7;

    --azul-background2: #b7cfe3;
    --azul-background3: #B7CFE6;

    --amarelo-background-font: #edb106;

    --laranja-background-font: #c48007;

    --marrom-light-backgroun: #2c1b07;

    --laranja-dark-background: #D87500;

    --cinza-background: #CDC5C5;

    --vermelho-font: #FF0000;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.header-top {
    background-color: var(--azul-background3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: fixed; */
    width: 100%;
    /* height: 62px; */
}

.logo-img img {
    width: 136px;
    height: 47px;
}

.content-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-right: 20px;
}

.acessibilidade {
    display: flex;
    gap: 20px;
}

.acessibilidade img {
    cursor: pointer;
    width: 50px;
    height: 31px;
}

.acessibilidade-visual {
    display: flex;
    justify-content: center;
    border-radius: 18px;
    width: 85px;
    height: 32px;
    border: 1px solid transparent;
    background-color: #EDB106;
}

.acessibilidade-visual button {
    border: none;
    background-color: transparent;
    width: 100%;
    border-radius: 18px;
    cursor: pointer;
}

.banner {
    height: 327px;
}

.banner img{
    width: 100%;
}

.nav {
    height: 20px;
    background-color: #6BAAD7;
}

.nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}